/* Add screen styles below */
@import url('https://fonts.googleapis.com/css2?family=Anta&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root{
--gradient:linear-gradient(to bottom, rgba(0,0,0,1) , rgba(31,53,255,.65));
}

body{
    font-family: "Space Mono", monospace;
    font-style: normal;
}

h1{
    font-weight: 700;
    font-size: 5em;
    color: black;
}

.sun{
    background-image: var(--gradient);
    color:white;
   margin-right: 50px;
    width: 500px;
    height: 725px;
    border-radius: 5%;
    text-align: center;
}

.sun h2{
    font-weight: 700;
    font-size: 4em;
    margin: 0;
    padding-top: 400px;
}

.sun h3{
    font-weight: 400;
    font-size: 3em;
    margin: 0;
}

.planets h2{
    font-weight: 700;
    font-size: 2em;
    margin: 0;
    padding-top: 200px;
    color:white;
    text-align: center;
}

.planets h3{
    font-weight: 400;
    font-size: 1em;
    margin: 0;
    color: white;
    text-align: center;
}

.mercury{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
    margin-bottom: 25px;
    
}

.venus{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.earth{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.mars{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.jupiter{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.saturn{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
   margin-right: 50px;
}

.uranus{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.neptune{
    background-image: var(--gradient);
    width: 225px;
    height: 350px;
    border-radius: 5%;
    margin-right: 50px;
}

.cards{
    display: flex;
}

.top{
    display: flex;
}

.bottom{
    display: flex;
}
